
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */

.display-flex {
  display: flex;
}

.text-light-gray {
  color: #727272;
}
.text-gray {
  color: #424242;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{

  margin-top:100px;
  margin-bottom: 100px;


}
/* Header Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-weight: 700;
  font-size: 2rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.banner{
  max-width: 1440px;
  margin: 0 auto;
}

.banner-container {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.banner-img {
  width: 100%;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  

}

.banner-title {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 3.8rem;
}

.primery-btn {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
}

.primery-btn:hover {
  background-color: white;
  border: 1px solid #ff900e;
  color: black;
}
/* Teams and Feature */
.Teams{
  align-items: center;
}

.team-img-cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our-features{
  margin-left: 120px;
  max-width: 520px;
}

#quick-list{
  color: #727272; 
  font-weight: 600;
}
#feau{
  color: #ff900e;
}

.feature-title{
  font-size: 2.80rem;
  margin-bottom: 0;
}




















@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .Teams {
    flex-direction: column;
  }

  .nav-item {
    margin-right: 10px;
    /* margin-bottom: 10px; */
  }

  .team-img-cont{
    grid-template-columns: repeat(1,1fr);
  }

  .our-features{
    margin-left: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width:992px) {
.teams{
  flex-direction: column;
}  
.our-features{
  margin-left: 50px auto;
}

}